# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build Artifacts
build/
dist/
*.spec
frontend/dist/
frontend/node_modules/

# Local Config
config.json

# Test & Temp
tests/
tmp/
test_scan.py
*.db
